.container-fluid{
    font-size: 2rem;
}
body{
    height:100vh;
    background: linear-gradient(to bottom right, rgb(47, 216, 216), rgb(0, 123, 255));
}
img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
   
}
button {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
@media only screen and (max-width: 576px) {
    img {
        width: 100%;
    }

    button {
        margin-top: 10px;
    }
}